*{font-family: Verdana, Geneva, Tahoma, sans-serif}

body{
background-color: white;
background-image: url(img/googleplex.jpeg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;
}

main,section{
background-color: white;
max-width: 550px;
margin: 15px auto;
margin-left: auto;
margin-right: auto;
padding: 5px;
border-radius: 20px;
display: block;
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.404);
}

th,td{
border: 1px solid black;
}  

table,tr{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

img.fundadores{
    float: right;
    margin-left: -0.6%;
    width: -100%;
    margin-bottom: 5px;
}    

img.servidor{
    float: left;
    margin-right: -0.8px;
    width: -100%;
    margin-bottom: 5px;
    padding: 10px;
}

.busca{
margin-left: auto;
margin-right: auto;
width: 100%;


}

.gmail{
float: right;
margin-left: 15px;
height: 100px;
}

.youtube{
float: right;
margin-left: 15px;
height: 100px;
}

.google{
width: 100%;

}


 
  


